/* login.css */

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e2f3e3;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Styling untuk input pada hover */
.form-floating input:hover,
.form-floating input:focus {
  border-color: red;
  outline-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

/* Styling untuk label pada hover */
.form-floating label:hover {
  color: red;
}

/* Styling untuk input border invisible */
.form-floating input {
  border: none;
}

/* Styling untuk container */
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling untuk teks "Silahkan masuk untuk absensi" */
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px; /* Ubah ukuran font sesuai kebutuhan */
}
